
<div class="entry-shang text-center">
    {{/* Display custom guide text from config.toml/yaml, or a default message */}}
    {{ if .Site.Params.reward_guide }}
   <p> 「{{ .Site.Params.reward_guide }}」</p>
{{ else }}
  <a href="https://ko-fi.com/Y8Y51QC0UC" style="font-size: 150%; font-weight: bold;">
      Coffee Fund Donations are Welcome and Appreciated!
  </a>
{{ end }}
    <a href="https://ko-fi.com/Y8Y51QC0UC">
    <img style="cursor: pointer;" src="https://ko-fi.com/img/githubbutton_sm.svg" alt="Button for donation">
</a>
<p>There are costs associate with running a website. Your donations go directly to keeping this site active.</p>
</div>