{{/* Usage: {{< captioned-image "path/to/image.jpg" "Your Caption Text" "size_keyword" >}}
    Example: {{< captioned-image "/img/2025/12/shop_mess.png" "My messy workbench after a long project." "medium" >}}
*/}}

{{- $path := .Get 0 -}}
{{- $caption := .Get 1 -}}
{{- $size_key := .Get 2 | default "medium" -}}

{{/* --- Image Sizing Logic (Leveraging your previous need) --- */}}
{{- $width := 600 -}}
{{- if eq $size_key "small" }}{{ $width = 300 }}{{ end -}}
{{- if eq $size_key "large" }}{{ $width = 900 }}{{ end -}}
{{- if eq $size_key "medium" }}{{ $width = 600 }}{{ end -}}

{{- $original := resources.Get $path -}}

{{- if $original -}}
    {{- $resized := $original.Resize (printf "%dx" $width) -}}
    
    <figure class="captioned-photo-container size-{{ $size_key }}">
        <img src="{{ $resized.RelPermalink }}" 
             width="{{ $resized.Width }}" 
             height="{{ $resized.Height }}" 
             alt="{{ $caption }}" />
        
        <figcaption>{{ $caption | markdownify }}</figcaption>
    </figure>
{{- else -}}
    {{/* Error handling */}}
    <p style="color: red;">ERROR: Image not found at path: {{ $path }}</p>
{{- end -}}